<%= form_for @research, multipart: true do |f| %>
  <% if @research.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@research.errors.count, "error") %> prohibited this research from being saved:</h2>

      <ul>
      <% @research.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.trix_editor :content, class: "content" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
