<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <% if current_user %>
        <%= link_to 'Sign Out', destroy_user_session_path %><br><br>
        <%= link_to 'New Research', new_research_path, class: "btn btn-primary" %>
      <% end %>
      <br><br/>
      <% @researches.each do |research| %>
        <%= image_tag research.image, class: "img-thumbnail" %>
        <h2 class="blog-post-title"><%= research.title %></h2>
        <p class="blog-post-meta"><%= research.created_at.to_formatted_s(:long) %></p>
        <% if current_user %>
          <%= link_to 'Show', research %> |
          <%= link_to 'Edit', edit_research_path(research) %> |
          <%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br><br/>
        <% end %>
        <div class="blog-post">
          <%= research.content.html_safe %>
          <hr class="articlesplit"></hr>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>



