<%= form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "errors") %> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>	
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :image %><br>
		<%= f.file_field :image %>
	</p>

	<div class="form-group">
		<%= f.trix_editor :body %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
<% end %>

