<div class="container">
  <div class="row">
    <div class="col-md-2">
      <% if current_user %>
        <%= link_to 'Sign out', destroy_user_session_path %><br><br>
        <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br></br>

  <table class="table">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <div class="col-md-3">
              <%= image_tag post.image, class: "img-thumbnail" %>
            </div>
            <div class="col-md-9">
              <%= post.body.truncate(700).html_safe %>
              <br><br>
              <% if current_user %>
                <%= link_to 'Show', post %> |
                <%= link_to 'Edit', edit_post_path(post) %> |
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </tabel>
</div>




