<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header" id="showpage_title">
				<h1 class="title">
					<%= @post.title %>
				</h1>

				<p class="date">
					Submitted <%= time_ago_in_words(@post.created_at) %> Ago
					<% if user_signed_in? %>
						| <%= link_to 'Edit', edit_post_path(@post) %>
						| <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
						| <%= link_to 'All Posts', posts_path %>
						| <%= link_to "Home", root_path %>
					<% end %>

				</p>

				<p class="body">
					<%= @post.body %>
				</p>
			</div>
		</div>
	</div>
</div>