<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @post.image, class: "img-thumbnail" %>
    </div>
    <div class="col-md-10">
      <%= @post.body.truncate(700).html_safe %>
      <p class="text-muted"> 
        <em>Posted on <%= @post.created_at.to_formatted_s(:long) %></em>
      </p>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
      </p>
    </div>
  </div>
</div>