<!DOCTYPE html>
<html>
<head>
  <title>Hsrac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="_IY_BQxREVydXF-ZqOS-uGSJZ2AHZYf42bIRaCdsiRY">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p><%= content_tag :div, notice, class: "bg-success" %></p>
<p><%= content_tag :div, alert, class: "bg-danger" %></p>
<%= yield %>


</body>
</html>
